.container {
    display: flex;
    justify-content: center;
}

.login-container {
    width: 300px;
    height: 700px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    border-radius: 5px;
    padding: 7px;
    margin-top: 5px;
    border-color: #B3B3B3;
    border-width: 1px;
}

.form-group label {
   font-weight: bold;
}

.login-btn {
    background-color: #5685FF;
    color: white;
    height: 40px;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-btn {
    background-color: white;
    color: #5685FF;
    border-radius: 5px;
    border-color: #5685FF;
    height: 40px;
    border-width: 1px;
    cursor: pointer;
    width: 100%;
}

.login-container h1 {
    text-align: center;
    font-weight: bold;
}

.login-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-container a {
    text-align: center;
}